.smallBox{
 max-width: 500px;
 margin: auto;
 padding: 50px;
 margin-top: -200px;
}


.cardCantiner{
  display: flex;
  flex-wrap: wrap;
}
.leaflet-container {
    height: 400px;
    width: 80%;
    margin: 0 auto;
  }

.southKing{
      color: '#006400';
      weight: 5;
      opacity: 0.65;
  }
  .northKing{
    color: '#ffffff';
    weight: 5;
    opacity: 0.65;
  }