.smallBox{
  width: 400px;
  padding: 20px 50px;
  /*border: 2px solid;*/
  border-color: currentColor;
  border-radius: 14px;
  /*box-shadow: 4px 6px 24px 9px rgba(0,0,0,0.75);*/
  border: 2px solid;
}

.customerResult {
  width: calc(100% - 400px);
  font-size: 20px;
  padding: 25px
}

.stickeySidebar {
/*color: green;*/
  /*width: 500px;*/

}
.marignTop80{
  margin-top: 80px;

}

.cardCantiner{
  display: flex;
  flex-wrap: wrap;
}

.leaflet-container {
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

.spanMarign{
  margin-right: 20px;
}

.TextAreaFulLWidth {
  width: 100%;
}

.customerSearchBar {
  height: 100px;
  background-color: ghostwhite;
  font-weight: 500;
}

.pac-container	{
  z-index: 1000;
  background-color: black;
}
.textButtons{
  padding-bottom: 5px;
  display: flex;
    justify-content: flex-end;
}

.myCustomerHeaders {

  z-index: 1000;

}

.wrapper{
  display: flex;
  justify-content: space-between;
}

.headerA {
  background-color: #5cb85c !important;
  color: white;
  font-size: 20px;
  z-index: 1000!important;
}
.tempBackground {
  background-color: black;
  /*height: 100%;*/
}

.buttonGroups{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonGroupsH {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.white{
  color: white!important;
  text-decoration: none;

}

.customerButton{
  display: flex!important;
justify-content: space-around!important;
font-size: 30px!important;
}

.rightButton button{
  width:500px;
  font-size: 30px;
}
.buttonIcons{
  font-size: 20px;
  text-align: center;
}

.buttonGrid{
  margin: 0!important;
margin-top: 20px!important;
}

.buttonGrid  i {
  color: #2185d0;
}

.gridColumn{
  text-align: center;
}

.ratingText{
  color: orange;
  font-size: 20px;
  }

.southKing{
      color: '#006400';
      weight: 5;
      opacity: 0.65;
  }
  .northKing{
    color: '#ffffff';
    weight: 5;
    opacity: 0.65;
  }

  .marginTop60{
    margin-top: 70px!important;
  }
  .infoHeader{
    height: 300px;
    width: 80%;
    padding-left: 50px;
  }

.infoHeader p {
  text-align: left;
  font-size: 20px;
}
  .titleA{
    cursor: pointer;
    padding: 0 20px;
  }

  .textHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.labelTags{
  font-size: 14px !important;
  text-transform: capitalize !important;
  border-radius: 5px;
}
